<!-- <div class="jumbotron">
	<h3 class="text-center"> We're inside <u>home</u> page. </h3>
</div>
 -->
<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<div class="box-view-outer">
				<div class="box-view-inner">
					<div class="overlay">
						<h4 class="overlay-text"> Overlay Text </h4>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="box-view-outer">
				<div class="box-view-inner"></div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="box-view-outer">
				<div class="box-view-inner"></div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="box-view-outer">
				<div class="box-view-inner"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<div class="box-view-outer">
				<div class="box-view-inner"></div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="box-view-outer">
				<div class="box-view-inner"></div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="box-view-outer">
				<div class="box-view-inner"></div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="box-view-outer">
				<div class="box-view-inner"></div>
			</div>
		</div>
	</div>
</div>